USE [rmbsys]
GO
/****** Object:  User [Admin]    Script Date: 13/12/2018 2:09:37 PM ******/
CREATE USER [Admin] FOR LOGIN [Admin] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[RMBACCOUNTS]    Script Date: 13/12/2018 2:09:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RMBACCOUNTS](
	[RMBACCNTID] [int] NOT NULL,
	[RMBACCNTFNAME] [nvarchar](max) NOT NULL,
	[RMBACCNTLNAME] [nvarchar](max) NOT NULL,
	[RMBACCNTMNAME] [nvarchar](max) NULL,
	[RMBACCNTEMAIL] [nvarchar](max) NULL,
	[RMBACCNTPHONE] [nvarchar](11) NOT NULL,
	[RMBACCNTADDRESS] [nvarchar](max) NOT NULL,
	[RMBACCNTPOSITION] [nvarchar](max) NOT NULL,
	[RMBACCNTTYPE] [int] NOT NULL,
	[RMBACCNTPASSWORD] [nvarchar](max) NOT NULL,
	[RMBINSERTEDBY] [int] NULL,
	[RMBINSERTEDDATE] [datetime] NULL,
	[RMBUPDATEDBY] [int] NULL,
	[RMBUPDATEDDATE] [datetime] NULL,
	[RMBINACTIVE] [bit] NULL,
	[RMBINACTIVEBY] [int] NULL,
	[RMBINACTIVEDATE] [datetime] NULL,
 CONSTRAINT [PK__RMBACCOU__CA1CE52632DA27C3] PRIMARY KEY CLUSTERED 
(
	[RMBACCNTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RMBACCOUNTS_LOGS]    Script Date: 13/12/2018 2:09:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RMBACCOUNTS_LOGS](
	[RMBACCNT_LOGID] [int] IDENTITY(1,1) NOT NULL,
	[RMBACCNT_LOGDATE] [datetime] NOT NULL,
	[RMBACCNT_LOGDETAILS] [nvarchar](max) NOT NULL,
	[RMBACCNT_LOGTRIGGERBY] [int] NULL,
 CONSTRAINT [PK__RMBACCOU__FFC9EC788225872C] PRIMARY KEY CLUSTERED 
(
	[RMBACCNT_LOGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RMBACCOUNTS_SESS]    Script Date: 13/12/2018 2:09:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RMBACCOUNTS_SESS](
	[SESS_ID] [int] IDENTITY(1,1) NOT NULL,
	[SESS_ACCNTID] [int] NOT NULL,
	[SESS_IPADD] [nvarchar](max) NULL,
	[SESS_AGENT] [nvarchar](max) NULL,
	[SESS_LASTACTIVITY] [datetime] NULL,
 CONSTRAINT [PK__RMBACCOU__C3DBB3084DFF12FE] PRIMARY KEY CLUSTERED 
(
	[SESS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RMBSTUDENT]    Script Date: 13/12/2018 2:09:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RMBSTUDENT](
	[RMBSTUDID] [int] NOT NULL,
	[RMBSTUDFNAME] [nvarchar](max) NOT NULL,
	[RMBSTUDLNAME] [nvarchar](max) NOT NULL,
	[RMBSTUDMNAME] [nvarchar](max) NULL,
	[RMBSTUDEMAIL] [nvarchar](max) NULL,
	[RMBSTUDPHONE] [nvarchar](11) NULL,
	[RMBSTUDADDRESS] [nvarchar](max) NOT NULL,
	[RMBSTUDGUARDIAN] [int] NULL,
	[RMBSTUDPREVSCHOOL] [nvarchar](max) NULL,
	[RMBINSERTEDBY] [int] NULL,
	[RMBINSERTEDDATE] [datetime] NULL,
	[RMBUPDATEDBY] [int] NULL,
	[RMBUPDATEDDATE] [datetime] NULL,
	[RMBINACTIVE] [bit] NULL,
	[RMBINACTIVEBY] [int] NULL,
	[RMBINACTIVEDATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RMBSTUDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RMBSTUDENT_LOGS]    Script Date: 13/12/2018 2:09:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RMBSTUDENT_LOGS](
	[RMBSTUDENT_LOGID] [int] IDENTITY(1,1) NOT NULL,
	[RMBSTUDENT_LOGDATE] [datetime] NOT NULL,
	[RMBSTUDENT_LOGDETAILS] [nvarchar](max) NOT NULL,
	[RMBSTUDENT_LOGTRIGGERBY] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RMBSTUDENT_LOGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RMBSTUDGUARDIAN]    Script Date: 13/12/2018 2:09:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RMBSTUDGUARDIAN](
	[RMBSTUD_GUARDIANID] [int] IDENTITY(1,1) NOT NULL,
	[RMBSTUD_GUARDIANFNAME] [nvarchar](max) NOT NULL,
	[RMBSTUD_GUARDIANLNAME] [nvarchar](max) NOT NULL,
	[RMBSTUD_GUARDIANMNAME] [nvarchar](max) NULL,
	[RMBSTUD_GUARDIANADDRESS] [nvarchar](max) NOT NULL,
	[RMBSTUD_GUARDIANPHONE] [nvarchar](11) NOT NULL,
	[RMBSTUD_GUARDIANEMAIL] [nvarchar](max) NULL,
	[RMBSTUD_USERNAME] [nvarchar](max) NOT NULL,
	[RMBSTUD_PASSWORD] [nvarchar](max) NOT NULL,
	[RMBSTUD_GUARDIANTYPE] [int] NULL,
	[RMBINSERTEDBY] [int] NULL,
	[RMBINSERTEDDATE] [datetime] NULL,
	[RMBUPDATEDBY] [int] NULL,
	[RMBUPDATEDDATE] [datetime] NULL,
	[RMBINACTIVE] [bit] NULL,
	[RMBINACTIVEBY] [int] NULL,
	[RMBINACTIVEDATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RMBSTUD_GUARDIANID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RMBSTUDGUARDIAN_LOGS]    Script Date: 13/12/2018 2:09:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RMBSTUDGUARDIAN_LOGS](
	[RMBSTUD_GUARDIAN_LOGID] [int] IDENTITY(1,1) NOT NULL,
	[RMBSTUD_GUARDIAN_LOGDATE] [datetime] NOT NULL,
	[RMBSTUD_GUARDIAN_LOGDETAILS] [nvarchar](max) NOT NULL,
	[RMBSTUD_GUARDIAN_LOGTRIGGERBY] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RMBSTUD_GUARDIAN_LOGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RMBSTUDGUARDIAN_SESS]    Script Date: 13/12/2018 2:09:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RMBSTUDGUARDIAN_SESS](
	[SESS_ID] [int] IDENTITY(1,1) NOT NULL,
	[SESS_ACCNTID] [int] NOT NULL,
	[SESS_IPADD] [nvarchar](max) NULL,
	[SESS_AGENT] [nvarchar](max) NULL,
	[SESS_LASTACTIVITY] [datetime] NULL,
 CONSTRAINT [PK__RMBSTUDG__C3DBB308983E83F7] PRIMARY KEY CLUSTERED 
(
	[SESS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[RMBACCOUNTS] ADD  CONSTRAINT [DF__RMBACCOUN__RMBIN__75A278F5]  DEFAULT ((1)) FOR [RMBINACTIVE]
GO
ALTER TABLE [dbo].[RMBACCOUNTS_SESS] ADD  CONSTRAINT [DF_RMBACCOUNTS_SESS_SESS_LASTACTIVITY]  DEFAULT (getdate()) FOR [SESS_LASTACTIVITY]
GO
ALTER TABLE [dbo].[RMBSTUDENT] ADD  DEFAULT ((1)) FOR [RMBINACTIVE]
GO
ALTER TABLE [dbo].[RMBSTUDGUARDIAN] ADD  DEFAULT ((2)) FOR [RMBSTUD_GUARDIANTYPE]
GO
ALTER TABLE [dbo].[RMBSTUDGUARDIAN] ADD  DEFAULT ((1)) FOR [RMBINACTIVE]
GO
ALTER TABLE [dbo].[RMBACCOUNTS_LOGS]  WITH CHECK ADD  CONSTRAINT [FK__RMBACCOUN__RMBAC__787EE5A0] FOREIGN KEY([RMBACCNT_LOGTRIGGERBY])
REFERENCES [dbo].[RMBACCOUNTS] ([RMBACCNTID])
GO
ALTER TABLE [dbo].[RMBACCOUNTS_LOGS] CHECK CONSTRAINT [FK__RMBACCOUN__RMBAC__787EE5A0]
GO
ALTER TABLE [dbo].[RMBACCOUNTS_SESS]  WITH CHECK ADD  CONSTRAINT [FK__RMBACCOUN__SESS___08B54D69] FOREIGN KEY([SESS_ACCNTID])
REFERENCES [dbo].[RMBACCOUNTS] ([RMBACCNTID])
GO
ALTER TABLE [dbo].[RMBACCOUNTS_SESS] CHECK CONSTRAINT [FK__RMBACCOUN__SESS___08B54D69]
GO
ALTER TABLE [dbo].[RMBSTUDENT]  WITH CHECK ADD FOREIGN KEY([RMBSTUDGUARDIAN])
REFERENCES [dbo].[RMBSTUDGUARDIAN] ([RMBSTUD_GUARDIANID])
GO
ALTER TABLE [dbo].[RMBSTUDENT_LOGS]  WITH CHECK ADD FOREIGN KEY([RMBSTUDENT_LOGTRIGGERBY])
REFERENCES [dbo].[RMBSTUDENT] ([RMBSTUDID])
GO
ALTER TABLE [dbo].[RMBSTUDGUARDIAN_LOGS]  WITH CHECK ADD FOREIGN KEY([RMBSTUD_GUARDIAN_LOGTRIGGERBY])
REFERENCES [dbo].[RMBSTUDGUARDIAN] ([RMBSTUD_GUARDIANID])
GO
ALTER TABLE [dbo].[RMBSTUDGUARDIAN_SESS]  WITH CHECK ADD  CONSTRAINT [FK__RMBSTUDGU__SESS___0E6E26BF] FOREIGN KEY([SESS_ACCNTID])
REFERENCES [dbo].[RMBSTUDGUARDIAN] ([RMBSTUD_GUARDIANID])
GO
ALTER TABLE [dbo].[RMBSTUDGUARDIAN_SESS] CHECK CONSTRAINT [FK__RMBSTUDGU__SESS___0E6E26BF]
GO
